input{
    width:500px;
}

h2{
padding-bottom: 10px;
color: #0099cc;
}

.red-line{
 color:red;
}

.thread-box{
 padding-bottom: 30px;
 border-bottom: 1px;
}

.highlight {
    background-color: #FFFF88;
}