<div class="span8">
    <form class="form-horizontal" action="">
    <h3>Edit File</h3>
    <div class="control-group">
         <textarea rows="20" id="settings-content">$settings</textarea>
    </div>
    <div id="buttons" class="form-actions">
        <input type="button" class="btn btn-primary" id="settings_update" value="Submit"/>
    </div>
    </form>
</div>